<div class = "user-content">
  <h2><i class="fa fa-user-o" aria-hidden="true"></i><%= current_user.name %></h2>
  <div class = "user-infos">
    <div class = "user-info">メンション<br>xxxx(数)</div>
    <div class = "user-info">フォロー<br>xxx</div>
    <div class = "user-info">フォロワー<br>xxxx</div>
    <div class = "clear"> </div>
  </div>
</div>