<div class = "articles">
  <!--ユーザページの1メンション-->
  <div class="userArticle">
    <!--以下個別記事-->
    <div class ="article">
      
      <%= link_to new.title ,new ,class: "article-name" %>
      <div class = "article-date"><%= new.putDate.strftime("%H:%M:%S") %></div>
      <div class = "article-right">
         <div class = "article-mention">
            <p class = "mentiom-chara"><i class="fa fa-comments-o" aria-hidden="true"></i>mention</p>
            <p class = "mention-figure"><%= Mention.where(news_id: new.id).count %></p>
            
    
         </div>
      </div>
    </div>

  </div>
</div>